<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRealTimeUnit" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IAlarmDisplay" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50982/ScadaService.svc/RealTimeUnit"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRealTimeUnit"
                contract="ServiceReference.IRealTimeUnit" name="BasicHttpBinding_IRealTimeUnit" />
            <endpoint address="http://localhost:50982/ScadaService.svc/AlarmDisplay"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAlarmDisplay"
                contract="ServiceReference.IAlarmDisplay" name="WSDualHttpBinding_IAlarmDisplay">
                <identity>
                    <userPrincipalName value="DESKTOP-A02CPCI\Boris" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>